%h1 
  Home#index
%p Find me in app/views/home/index.html.erb

= link_to root_path, class: 'btn btn-success' do
  .fa.fa-flag
  Homepage

= link_to courses_path, class: 'btn btn-info' do
  .fa.fa-book
  Courses

